{% extends 'base-front.html.twig' %}
{% block title %}Events{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/eventCardStyle.css') }}">

{% endblock %}


{% block form %}

    <div class="model-container" id="model-container">


        <form action="{{ path('addalert') }}" method="post">
            <div class="form  has-slimscroll">
                <div class="tabs-wrapper">
                    <div class="tabs is-boxed is-fullwidth">
                        <button type="button" class="exit" id="close">X</button>
                    </div>
                </div>


                <div class="title">Create</div>
                <div class="subtitle">Let's create a new Alert..</div>
                <div class="input-container ic1">
                    <input id="field1" class="input" name="SubjectAlert" type="text" placeholder=" "/>
                    <div class="lab"></div>
                    <label for="field1" class="placeholder">Enter Subject</label>
                </div>
                <div class="input-container ic2">
                    <input id="field2" class="input" name="ContentAlert" type="text" placeholder=" "/>
                    <div class="lab"></div>
                    <label for="field2" class="placeholder">Enter Content..</label>
                </div>
                <div class="input-container ic3">
                    <input id="field2" class="input" name="CatAlert" type="text" placeholder=" "/>
                    <div class="lab"></div>
                    <label for="field2" class="placeholder">Category</label>
                </div>
                <div class="input-container ic3">
                    <input id="field2" class="input" name="DestAlert" type="text" placeholder=" "/>
                    <div class="lab"></div>
                    <label for="field2" class="placeholder">Destination</label>
                </div>
                <!-- General basic options -->

                <!-- /General basic options -->

                <button type="submit" class="submit">Add Alert</button>
            </div>
        </form>


    </div>

{% endblock %}

{% block navigation %}
    <div class="sub-nav">
        <div class="sub-nav-tabs">
            <div class="tabs is-centered">
                <ul>
                    <li>
                        <a href="{{ path('postFront') }}">Posts</a>
                    </li>
                    <li>
                        <a href="{{ path('announceFront') }}">Announces</a>
                    </li>
                    <li>
                        <a href="{{ path('forumFront') }}">Forums</a>
                    </li>
                    <li class="is-active">
                        <a href="{{ path('eventsFront') }}">Events</a>
                    </li>
                    <li>
                        <a href="{{ path('offreFront') }}">Offers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}







{% block main %}


    <div class="view-wrapper"></div>
    <div id="main-feed" class="navbar-v2-wrapper">

        <!-- Container -->
        <div class="container" id="eventContainer">


            <!-- Content placeholders at page load -->
            <!-- this holds the animated content placeholders that show up before content -->
            <div id="shadow-dom" class="view-wrap">
                <div class="columns">


                    <div class="column is-3">

                        <!-- Placeload element -->
                        <div class="placeload weather-widget-placeload">
                            <div class="header">
                                <div class="inner-wrap">
                                    <div class="img loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="body">
                                <div class="inner-wrap">
                                    <div class="rect loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload list-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">

                        <!-- Placeload element -->
                        <div class="placeload compose-placeload">
                            <div class="header">
                                <div class="content-shape is-lg loads"></div>
                                <div class="content-shape is-lg loads"></div>
                                <div class="content-shape is-lg loads"></div>
                            </div>
                            <div class="body">
                                <div class="img loads"></div>
                                <div class="inner-wrap">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">

                        <!-- Placeload element -->
                        <div class="placeload stories-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload mini-widget-placeload">
                            <div class="body">
                                <div class="inner-wrap">
                                    <div class="img loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="button-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload list-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Feed page main wrapper -->
        </div>

        <div id="activity-feed" class="view-wrap true-dom is-hidden">
            <div class="model-container" id="model-container">


            </div>
            <div class="columns">
                <!-- Left side column -->
                <div class="column is-3 is-hidden-mobile">
                </div>
                <!-- /Left side column -->

                <!-- Middle column -->
                <div class="column is-6">

                    <div class="search-bar">
                        <form action={{ path('SearchMultipleChoice') }} method="post">
                            <p><input class="inputsearch" name="title" placeholder="search with title">
                                <input class="inputsearch" name="destination" placeholder="destination">
                                <button type="submit" class="button-shape">Search</button>
                            </p>
                        </form>
                    </div>


                    {% if render(controller('App\\Controller\\SecurityController::getCurrentUserRole'))=='Professeur' %}
                        <button id="open" class="btnAdd" value="click me">Add Alert</button>
                    {% endif %}
                    <button><a href="{{ path('GeneratePdfAnnounce') }}">Generate Pdf Announces</a></button>
                    {% if render(controller('App\\Controller\\SecurityController::getCurrentUserRole'))=='Professeur' %}
                        <button><a href="{{ path('GeneratePdfAlert') }}">Generate Pdf Alerts</a></button>
                    {% endif %}

                    <!--#region test-->
                    {% for announce in ann %}
                        <!--#region Announce -->
                        <!-- /partials/pages/feed/posts/feed-post1.html -->
                        <!-- POST #1 -->
                        <div class="card is-post">
                            <!-- Main wrap -->
                            <div class="content-wrap">
                                <!-- Post header -->
                                <div class="card-heading">
                                    <!-- User meta -->
                                    <div class="user-block">
                                        <div class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                 data-demo-src="{{ asset('images/users/'~announce.idsender.imgurl) }}"
                                                 data-user-popover="1"
                                                 alt="">
                                        </div>
                                        <div class="user-info">
                                            <a href="#">{{ announce.subject }}</a>
                                            <span class="time">{{ announce.createdat |date('d-m-Y') }}</span>
                                        </div>
                                    </div>
                                    <!-- Right side dropdown -->
                                    <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
                                    <div class="categoryAnn">
                                        <h4>{{ announce.getCatann().libcatann }}</h4>
                                    </div>
                                </div>
                                <!-- /Post header -->

                                <!-- Post body -->
                                <div class="card-body">
                                    <!-- Post body text -->
                                    <div class="post-text">

                                        <p> {{ announce.content }}
                                        </p>
                                    </div>
                                    <!-- Featured image -->
                                    <div class="post-image">
                                        <div class="post-image">
                                            <img src="{{ asset('FrontOffice/img/demo/unsplash/Logo_ESPRIT_og.jpg') }}"
                                                 data-demo-src="{{ asset('FrontOffice/img/demo/unsplash/Logo_ESPRIT_og.jpg') }}"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--#endregion Announce -->
                    {% endfor %}

                    {% for alert in alerts %}
                        <!--#region Announce -->
                        <!-- /partials/pages/feed/posts/feed-post1.html -->
                        <!-- POST #1 -->
                        <div class="card is-post">
                            <!-- Main wrap -->
                            <div class="content-wrap">
                                <!-- Post header -->
                                <div class="card-heading">
                                    <!-- User meta -->
                                    <div class="user-block">
                                        <div class="image">
                                            <img src="{{ asset('images/users/'~alert.idsender.imgurl) }}"
                                                 data-demo-src="{{ asset('images/users/'~alert.idsender.imgurl) }}" data-user-popover="1"
                                                 alt="">
                                        </div>
                                        <div class="user-info">
                                            <a href="#">{{ alert.alerttitle }}</a>
                                            <span class="time">{{ alert.createdat |date('d-m-Y') }}</span>
                                        </div>
                                    </div>
                                    <!-- Right side dropdown -->
                                    <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
                                    <div class="categoryAnn">
                                        <h4>{{ alert.getCatalert().libcatalert }}</h4>
                                    </div>
                                </div>
                                <!-- /Post header -->

                                <!-- Post body -->
                                <div class="card-body">
                                    <!-- Post body text -->
                                    <div class="post-text">

                                        <p> {{ alert.content }}
                                        </p>
                                    </div>
                                    <!-- Featured image -->

                                </div>
                            </div>
                        </div>
                        <!--#endregion Announce -->
                    {% endfor %}

                    <!--#endregion test-->
                </div>

                <!-- /Feed page main wrapper -->
            </div>

        </div>
    </div>



{% endblock %}