{% extends 'base-front.html.twig' %}
{% block title %}Offers{% endblock %}
{% block navigation %}
<div class="sub-nav">
    <div class="sub-nav-tabs">
        <div class="tabs is-centered">
            <ul>
                <li>
                    <a href="{{ path('navbar-v2-feed') }}">Posts</a>
                </li>
                <li >
                    <a href="{{ path('navbar-v2-announces') }}">Announces</a>
                </li>
                <li >
                    <a href="{{ path('navbar-v2-forums') }}">Forums</a>
                </li>
                <li>
                    <a href="{{ path('navbar-v2-events') }}">Events</a>
                </li>
                <li class="is-active">
                    <a href="{{ path('navbar-v2-offres') }}">Offers</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>

{% endblock %}

{% block main %}
    <div class="view-wrapper"></div>
    <div id="main-feed" class="navbar-v2-wrapper">

        <!-- Container -->
        <div class="container">

            <!-- Content placeholders at page load -->
            <!-- this holds the animated content placeholders that show up before content -->
            <div id="shadow-dom" class="view-wrap">
                <div class="columns">

                    <div class="column is-3">

                        <!-- Placeload element -->
                        <div class="placeload weather-widget-placeload">
                            <div class="header">
                                <div class="inner-wrap">
                                    <div class="img loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="body">
                                <div class="inner-wrap">
                                    <div class="rect loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload list-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">

                        <!-- Placeload element -->
                        <div class="placeload compose-placeload">
                            <div class="header">
                                <div class="content-shape is-lg loads"></div>
                                <div class="content-shape is-lg loads"></div>
                                <div class="content-shape is-lg loads"></div>
                            </div>
                            <div class="body">
                                <div class="img loads"></div>
                                <div class="inner-wrap">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">

                        <!-- Placeload element -->
                        <div class="placeload stories-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload mini-widget-placeload">
                            <div class="body">
                                <div class="inner-wrap">
                                    <div class="img loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="button-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload list-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Feed page main wrapper -->
            <div id="activity-feed" class="view-wrap true-dom is-hidden">
                <div class="columns">
                    <!-- Left side column -->
                    <div class="column is-3 is-hidden-mobile">
                    </div>
                    <!-- /Left side column -->

                    <!-- Middle column -->
                    <div class="column is-6">
                        <button id="open" value="click me">Add offre</button>
                        <!--#region Offer -->
                        <!-- /partials/pages/feed/posts/feed-post1.html -->
                        <!-- POST #1 -->
                        {% for offre in offres %}
                            {% if offre.state == "Active" %}
                        <div  class="card is-post">
                            <!-- Main wrap -->
                            <div class="content-wrap">
                                <!-- Post header -->
                                <div class="card-heading">
                                    <!-- User meta -->
                                    <div class="user-block">
                                        <div class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                 data-demo-src="FrontOffice/assets/img/avatars/dan.jpg" data-user-popover="1"
                                                 alt="">
                                        </div>
                                        <div class="user-info">
                                            <a href="#">{{ offre.offerprovider }}</a>
                                            <span class="time">June 4 2022, 12:11pm</span>
                                        </div>
                                    </div>
                                    <!-- Right side dropdown -->
                                    <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
                                    <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                                        <div>
                                            <div class="button">
                                                <i data-feather="more-vertical"></i>
                                            </div>
                                        </div>
                                        <div class="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href={{ path('deleteofferfront', {'id': offre.idoffer}) }} class="dropdown-item">
                                                    <div class="media">
                                                        <div class="media-content">
                                                            <h3>Delete</h3>
                                                            <small>Delete this offre.</small>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    <div class="media">
                                                        <div class="media-content">
                                                            <h3>Edit</h3>
                                                            <small>Edit this offre.</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="OffreCategorie">
                                        <h4>{{ offre.catoffre }}</h4>
                                    </div>
                                </div>
                                <!-- /Post header -->

                                <!-- Post body -->
                                <div class="card-body">
                                    <!-- Post body text -->
                                    <div class="post-text">
                                        <p> {{ offre.titleoffer }}
                                        </p>
                                        <p>{{ offre.descoffer }}</p>
                                    </div>
                                    <!-- Featured image -->
                                    <div class="post-image">
                                        <a data-fancybox="post1" data-lightbox-type="comments"
                                           data-thumb="FrontOffice/assets/img/demo/unsplash/Logo_ESPRIT_og.jpg"
                                           href="https://via.placeholder.com/1600x900"
                                           data-demo-href="FrontOffice/assets/img/demo/unsplash/Logo_ESPRIT_og.jpg">
                                            <img src="https://via.placeholder.com/1600x900"
                                                 data-demo-src="FrontOffice/assets/img/demo/unsplash/Logo_ESPRIT_og.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="container-participate">
                                    <button type="button" class="button-participate">
                                        <span>Participate!</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- /Middle column -->

                    <!-- Right side column -->
                    <div class="column is-3">

                    </div>
                    <!-- /Right side column -->
                </div>
            </div>
            <!-- /Feed page main wrapper -->
        </div>

    </div>
    <div class="model-container" id="model-container">

        <form action={{ path('addoffer') }} method="post">
            <div class="form">
                <div class="title">Add new offre</div>
                <div class="subtitle">Let's create a new offre</div>
                <div class="input-container ic1">
                    <input id="field1" class="input" type="text" placeholder="Title" name="title"/>
                    <div class="cut"></div>
                    <label for="field1" class="placeholder">Title</label>
                </div>
                <div class="input-container ic2">
                    <input id="field2" class="input" type="text" placeholder="Content" name="content" />
                    <div class="cut"></div>
                    <label for="field2" class="placeholder">Content</label>
                </div>
                <div class="input-container ic2">
                    <input id="field3" class="input" type="text" placeholder="tag" name="category"/>
                    <div class="cut cut-short"></div>
                    <label for="field3" class="placeholder">Category</label>
                </div>
                <button type="submit" class="submit">Submit</button>
                <button type="button" class="exit" id="close">X</button>
            </div>
        </form>

    </div>
{% endblock %}