{% extends 'base-front.html.twig' %}
{% block title %}Participates {% endblock %}
 {% block css %}
     <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/Participate.css') }}">

 {% endblock %}





{% block main %}
<div class="wrapper">

    {% for participate in participates %}
    <div class="card" >
        <div class="contentPart">
            <div class="img"><img src="{{asset('images/users/'~participate.imgurl)}}" data-demo-src="{{asset('images/users/'~participate.imgurl)}}" data-user-popover="1" alt=""></div>

            <div class="details">
                <span class="name">{{ participate.getFirstname() }}  {{ participate.getLastname }}</span>
                <p>{{ participate.getRole() }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
