{% extends 'base-front.html.twig' %}
{% block title %}Offers{% endblock %}
{% block navigation %}
<div class="sub-nav">
    <div class="sub-nav-tabs">
        <div class="tabs is-centered">
            <ul>
                <li >
                    <a href="{{ path('postFront') }}">Posts</a>
                </li>
                <li >
                    <a href="{{ path('announceFront') }}">Announces</a>
                </li>
                <li class="is-active">
                    <a href="{{ path('forumFront') }}">Forums</a>
                </li>
                <li>
                    <a href="{{ path('eventsFront') }}">Events</a>
                </li>
                <li>
                    <a href="{{ path('offreFront') }}">Offers</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>

{% endblock %}

{% block main %}

    <div class="view-wrapper"></div>
    <div id="main-feed" class="navbar-v2-wrapper">

        <!-- Container -->
        <div class="container">

            <!-- Content placeholders at page load -->
            <!-- this holds the animated content placeholders that show up before content -->
            <div id="shadow-dom" class="view-wrap">
                <div class="columns">

                    <div class="column is-3">

                        <!-- Placeload element -->
                        <div class="placeload weather-widget-placeload">
                            <div class="header">
                                <div class="inner-wrap">
                                    <div class="img loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="body">
                                <div class="inner-wrap">
                                    <div class="rect loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload list-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">

                        <!-- Placeload element -->
                        <div class="placeload compose-placeload">
                            <div class="header">
                                <div class="content-shape is-lg loads"></div>
                                <div class="content-shape is-lg loads"></div>
                                <div class="content-shape is-lg loads"></div>
                            </div>
                            <div class="body">
                                <div class="img loads"></div>
                                <div class="inner-wrap">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload post-placeload">
                            <div class="header">
                                <div class="img loads"></div>
                                <div class="header-content">
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                </div>
                            </div>
                            <div class="image-placeholder loads"></div>
                            <div class="placeholder-footer">
                                <div class="footer-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">

                        <!-- Placeload element -->
                        <div class="placeload stories-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload mini-widget-placeload">
                            <div class="body">
                                <div class="inner-wrap">
                                    <div class="img loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="content-shape loads"></div>
                                    <div class="button-shape loads"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Placeload element -->
                        <div class="placeload list-placeload">
                            <div class="header">
                                <div class="content-shape loads"></div>
                            </div>
                            <div class="body">
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                                <div class="flex-block">
                                    <div class="img loads"></div>
                                    <div class="inner-wrap">
                                        <div class="content-shape loads"></div>
                                        <div class="content-shape loads"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Feed page main wrapper -->
            {%for message in app.flashes('info') %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {%endfor%}
            <div id="activity-feed" class="view-wrap true-dom is-hidden">
                <div class="columns">
                    <!-- Left side column -->
                    <div class="column is-3 is-hidden-mobile">
                        <!-- Weather widget -->
                        <!-- /partials/widgets/weather-widget.html -->
                        <div class="card is-weather-card has-background-image"
                             data-background="FrontOffice/assets/img/illustrations/cards/weather-bg.svg">
                            <div class="card-heading">
                            </div>
                            <div class="card-body">
                                <div class="temperature">
                                    <span>71</span>
                                </div>
                                <div class="weather-icon">
                                    <div>
                                        <i data-feather="sun"></i>
                                        <h4>Sunny</h4>
                                        <div class="details">
                                            <span>Real Feel: 78° </span>
                                            <span>Rain Chance: 5%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="previsions">
                                    <div class="day">
                                        <span>Mon</span>
                                        <i data-feather="sun"></i>
                                        <span>69°</span>
                                    </div>
                                    <div class="day">
                                        <span>Tue</span>
                                        <i data-feather="cloud-lightning"></i>
                                        <span>74°</span>
                                    </div>
                                    <div class="day">
                                        <span>Wed</span>
                                        <i data-feather="cloud-lightning"></i>
                                        <span>73°</span>
                                    </div>
                                    <div class="day">
                                        <span>Thu</span>
                                        <i data-feather="sun"></i>
                                        <span>68°</span>
                                    </div>
                                    <div class="day">
                                        <span>Fri</span>
                                        <i data-feather="cloud-drizzle"></i>
                                        <span>55°</span>
                                    </div>
                                    <div class="day">
                                        <span>Sat</span>
                                        <i data-feather="cloud-rain"></i>
                                        <span>58°</span>
                                    </div>
                                    <div class="day">
                                        <span>Sun</span>
                                        <i data-feather="sun"></i>
                                        <span>64°</span>
                                    </div>
                                </div>
                                <div class="current-date-location has-text-centered">
                                    <span class="date">Sunday, 18th 2018</span>
                                    <span class="location"> <i data-feather="map-pin"></i> Los Angeles, CA</span>
                                </div>
                            </div>
                        </div>
                        <!-- Pages widget -->
                        <!-- /partials/widgets/recommended-pages-1-widget.html briefcase-->
                        <!--#region Alert feed card  -->
                        {% if render(controller('App\\Controller\\SecurityController::getCurrentUserRole'))=='Student'%}
                            <div class="card is-feed-card offer">
                            <div class="card-heading">
                                <i data-feather="briefcase"></i>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="feed-content">
                                        <h4>Sofrecom is Offering a opportunity </h4>
                                        <p>Sofrecom is offering a work-study program </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- /Left side column -->



                    <!-- Middle column -->
                    <div class="column is-6">
                        <button id="open" class="btnAdd" value="click me">   <a href="{{ path('Generate Pdf') }}"><p style="color:#c30007">Generate Pdf</p></a> </button>

                        <!--#region Offer -->

                        {% for offre in offres %}
                            {% if offre.state == "Active" %}
                                <div  class="card is-post">
                                    <!-- Main wrap -->
                                    <div class="content-wrap">
                                        <!-- Post header -->
                                        <div class="card-heading">
                                            <!-- User meta -->
                                            <div class="user-block">
                                                <div class="image">
                                                    <img src="https://via.placeholder.com/300x300"
                                                         data-demo-src="{{asset('images/users/'~offre.offerprovider.imgurl)}}" data-user-popover="1"
                                                         alt="">
                                                </div>
                                                <div class="user-info">
                                                    <h4>{{ offre.offerprovider.entreprisename }}</h4>
                                                </div>
                                            </div>
                                            <!-- Right side dropdown -->
                                            <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
                                            <div class="OffreCategorie">
                                                <h4>{{ offre.catoffre }}</h4>
                                            </div>
                                            <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                                                {% if render(controller('App\\Controller\\SecurityController::getCurrentUserRole'))=='Extern'%}
                                                    <div>
                                                    <div class="button">
                                                        <i data-feather="more-vertical"></i>
                                                    </div>
                                                </div>
                                                {%endif%}

                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <a href={{ path('updateOffer',{'id':offre.idoffer}) }} class="dropdown-item">
                                                            <div class="media">
                                                                <div class="media-content">
                                                                    <h3>Edit</h3>
                                                                    <small>Edit this offre.</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href={{ path('deleteOffer', {'id': offre.idoffer}) }} class="dropdown-item">
                                                            <div class="media">
                                                                <div class="media-content">
                                                                    <h3>Delete</h3>
                                                                    <small>Delete this offre.</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Post header -->

                                        <!-- Post body -->
                                        <div class="card-body">
                                            <!-- Post body text -->
                                            <div class="post-text">
                                                <p> {{ offre.titleoffer }}
                                                </p>
                                                <p>{{ offre.descoffer }}</p>


                                            </div>

                                          <div class="post-image">
                                            <div class="like-wrapper">

                                                <a href={{ path('addIntrest', {'id': offre.idoffer}) }} class="like-button">
                                                    <i class="mdi mdi-heart not-liked bouncy"></i>
                                                    <i class="mdi mdi-heart is-liked bouncy"></i>
                                                    <span class="like-overlay"></span>
                                                </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- /Middle column -->

                    <!-- Right side column -->
                    <div class="column is-3">

                    </div>
                    <!-- /Right side column -->
                </div>
            </div>
            <!-- /Feed page main wrapper -->
        </div>

    </div>
    {{ knp_pagination_render(offres) }}
{% endblock %}

