<div class="sidebar-footer">
    <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="images/users/{{ user.imgurl }}" type="image/webp"><img src="images/users/{{ user.imgurl }}" alt="User name"></picture>
            </span>
        <div class="sidebar-user-info">
            <span class="sidebar-user__title">{{ user.firstname }} {{ user.lastname }}</span>
            <span class="sidebar-user__subtitle">{{ user.departement }} department</span>
        </div>
    </a>
</div>