{% extends 'base-back.html.twig' %}
{% block title %} EventsDashboard {% endblock %}

{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Events</h2>



                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                    <input type="checkbox" class="check-all">Title
                                </label>
                            </th>
                            <th>Organizer</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        {% for event in events %}
                        <tbody>
                        <tr>
                            <!-- Title -->
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    {{ event.titleevent }}
                                </label>
                            </td>
                            <!-- Organizer -->
                            <td>
                                <div class="pages-table-img">
                                    <img src="{{asset('images/users/'~event.idorganizer.imgurl)}}" data-demo-src="{{asset('images/users/'~event.idorganizer.imgurl)}}" data-user-popover="1" alt="">
                                    {{ event.idorganizer.firstname }}
                                </div>
                            </td>
                            <!-- Date Debut -->
                            <td>
                                {{ event.datedebut|date }}
                            </td>
                            <!-- Date fin-->
                            <td>
                                {{ event.datefin|date }}
                            </td>
                            <!-- Edit -->
                            <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href={{ path('deleteevent', {'id': event.idevent}) }}>Delete</a></li>
                                      <li><a href="{{ path('ParticipateList', {'id': event.idevent}) }}">Participates list</a></li>
                                    </ul>
                                  </span>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </main>








{% endblock %}