{% extends 'base-back.html.twig' %}
{% block title %} ForumDashboard {% endblock %}


{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Forum</h2>

                <span class="badge-default"><a
                            href={{ path('TrierParDateAscForum') }}>tri par date asc</a></span>
                <span class="badge-default">                <a  href={{ path('TrierParDateDescForum') }}>tri par date desc</a>
</span>

                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">

                            <th>Title</th>
                            <th>Created At</th>

                            <th>Action</th>
                        </tr>
                        </thead>

                        {% for forum in forums %}
                        <tbody>
                        <tr>
                            <!-- Owner -->
                            <!-- Title -->
                            <td>
                                {{ forum.title }}

                            </td>
<td>
    {{ forum.datecreation|date  }}
</td>
                            <!-- Edit -->
                            <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href="{{ path('deleteforum', {'id':forum.idforum}) }}">Delete</a></li>
                                    </ul>
                                  </span>
                            </td>
                        </tr>

                        </tbody>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </main>
        <!-- ! Footer -->







{% endblock %}