{% extends 'base-back.html.twig' %}
{% block title %} OfferDashboard {% endblock %}

{% block body %}





        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Offer</h2>



                <div class="users-table table-wrapper">
                    <!--Entete de tableau -->
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                   Provider
                                </label>
                            </th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <!-- ********* -->
                        <!--Contenue de tableau -->
                        {% for offre in offres %}
                        <tbody>
                        <tr>
                            <!-- Offre Provider -->
                            <td>
                                {{ offre.offerprovider }}
                            </td>
                            <!-- Title -->
                            <td>
                                    {{ offre.titleoffer }}

                            </td>

                            <!-- Description-->
                            <td>{{ offre.descoffer }}</td>

                            <!-- Image-->
                            <td>{{ offre.imgoffre }}</td>

                            <!-- Category -->
                            <td>
                                <span class="badge-default">{{ offre.catoffre }}</span>
                            </td>
                            <!-- Delete -->
                            <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href="##">Delete</a></li>
                                    </ul>
                                  </span>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </main>
        <!-- ! Footer -->







{% endblock %}