{% extends 'base-back.html.twig' %}
{% block title %} PostDashboard {% endblock %}

{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Posts</h2>
               


                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                    <input type="checkbox" class="check-all">Post
                                </label>
                            </th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        {% for post in posts %}
                            {% if post.state == "'Active'" %}
                        <tbody>
                            <tr>
                                <!-- Post -->
                                <td>
                                    <label class="users-table__checkbox">
                                        <input type="checkbox" class="check">
                                        {{ post.content }}
                                    </label>
                                </td>
                                <!-- Author -->
                                <td>
                                    <div class="pages-table-img">
                                        <picture><source srcset={{ post.mediaurl }} type="image/webp"><img src={{ post.mediaurl }}alt="User Name"></picture>
                                        {{ post.idower.getFirstname() }}
                                    </div>
                                </td>
                                <!-- Category -->

                                <!-- Date -->

                                <!-- Edit -->
                                <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href={{ path('deletepost', {'id': post.idpost}) }}>Delete</a></li>

                                    </ul>
                                  </span>
                                </td>
                            </tr>
                        </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

            </div>
        </main>





{% endblock %}