{% extends 'base-back.html.twig' %}
{% block title %} PostDashboard {% endblock %}

{% block body %}


        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Posts</h2>
                <span style="margin-left:50%" class="badge-default"><a
                            href={{ path('TrierParDateAscPost') }}>tri par date asc</a></span>
                <span style="margin-left:50%" class="badge-default">                <a  href={{ path('TrierParDateDescPost') }}>tri par date desc</a>
</span>



                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                        <tr class="users-table-info">
                            <th>
                                <label class="users-table__checkbox ms-20">
                                    <input type="checkbox" class="check-all">Post
                                </label>
                            </th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        {% for post in posts %}
                            {% if post.state == 'Active' %}
                        <tbody>
                            <tr>
                                <!-- Post -->
                                <td>
                                    <label class="users-table__checkbox">
                                        <input type="checkbox" class="check">
                                        {{ post.content }}
                                        <div class="pages-table-img">
                                            <picture><img src={{ asset ('/upload/post/' ~ post.mediaurl) }}></picture>

                                        </div>
                                    </label>
                                </td>
                                <!-- Author -->
                                <td>
                                    <div class="pages-table-img">
                                        <picture><img src={{ asset ('FrontOffice/assets/img/post/dan.jpg') }}></picture>

                                    </div>
                                </td>
                                <!-- Category -->
                                <td>
                                    <span class="badge-default">{{ post.categorie }}</span>
                                </td>
                                <!-- Date -->
                                <td>
                                    {{ post.createdat|date }}
                                </td>
                                <!-- Edit -->
                                <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                      <li><a href={{ path('deletepost', {'id': post.idpost}) }}>Delete</a></li>
                                    </ul>
                                  </span>
                                </td>
                            </tr>
                        </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                    {% include "FrontOffice/index.html.twig" %}
                </div>


            </div>
        </main>














{% endblock %}