{% extends 'base-back.html.twig' %}
{% block title %} UserDashboard {% endblock %}

{% block body %}
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
        <div class="container">
            <h2 class="main-title">Dashboard</h2>
            <!-- statistic 4 (total visit)-->
            <div class="row stat-cards">

                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon primary">
                            <i data-feather="pen-tool" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">1478 </p>
                            <p class="stat-cards-info__title">Total Professor</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon warning">
                            <i data-feather="smile" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">15326</p>
                            <p class="stat-cards-info__title">Total Student</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon purple">
                            <i data-feather="star" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">26</p>
                            <p class="stat-cards-info__title">Total Club</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon success">
                            <i data-feather="user" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">106</p>
                            <p class="stat-cards-info__title">Total Extern</p>
                        </div>
                    </article>
                </div>
            </div>
            <!-- statistic-->


            <div class="users-table table-wrapper">
                <table class="posts-table" id="tableau">
                    <!--Entete de tableau -->
                    <thead>
                    <tr class="users-table-info">
                        <th>
                            <label class="users-table__checkbox ms-20">
                                <input type="checkbox" class="check-all">User
                            </label>
                        </th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                        {% if app.request.pathinfo ==path('TrierParDateAsc') %}
                            <th><a href="{{ path('TrierParDateDesc') }}">Creation Date</a></th>
                        {% elseif app.request.pathinfo ==path('TrierParDateDesc') %}
                            <th><a href="{{ path('UserDashboard') }}">Creation Date</a></th>
                        {% else %}
                            <th><a href="{{ path('TrierParDateAsc') }}">Creation Date</a></th>
                        {% endif %}
                        <th>Action</th>
                    </tr>
                    </thead>
                    <!-- ********* -->
                    <!--Contenue de tableau -->
                    {% for user in users %}
                        {% if user.state == "Connected" or user.state == "Disconnected" or user.state == "Banned" or user.state == "Active"  %}
                            <tbody>
                            <tr>
                                <!-- Image -->
                                <td>
                                    <label class="users-table__checkbox">
                                        <input type="checkbox" class="check">
                                        <div class="pages-table-img">
                                            <picture>
                                                <source srcset="images/users/{{ user.imgurl }}"
                                                        type="image/webp">
                                                <img src="images/users/{{ user.imgurl }}" alt="User Name">
                                            </picture>
                                        </div>
                                    </label>
                                </td>
                                {% if user.role=="Extern" %}
                                    <!-- Name -->
                                    <td>
                                        {{ user.entreprisename }}
                                    </td>
                                {% else %}
                                    <td>
                                        {{ user.firstname }}
                                    </td>
                                {% endif %}
                                <!-- Name -->

                                <!-- Role -->
                                <td>
                                    <div class="pages-table-img">
                                        {{ user.role }}
                                    </div>
                                </td>
                                <!-- Status -->
                                <td>
                                    {% if user.state=="Connected" %}
                                        <span class="badge-success">{{ user.state }}</span>
                                    {% elseif user.state=="Disconnected" %}
                                        <span class="badge-trashed">{{ user.state }}</span>
                                    {% else %}
                                        <span class="badge-pending">{{ user.state }}</span>
                                    {% endif %}
                                </td>
                                <!-- Creation Date -->
                                <td>{{ user.createdat|date }}</td>
                                <!-- Edit -->
                                <td>
                                  <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                      <div class="sr-only">More info</div>
                                      <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">

                                      <li><a href={{ path('app_user_delete', {'cinuser': user.cinuser}) }}>Delete</a></li>

                                    </ul>
                                  </span>
                                </td>

                            </tr>
                            <script>
                                $(document).ready(function(){
                                    $('#ach').keyup(function(){
                                        search_table($(this).val());
                                    });
                                    function search_table(value){
                                        $('#tableau tbody tr ').each(function(){
                                            var found = 'false';
                                            $(this).each(function(){
                                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                {
                                                    found = 'true';
                                                }
                                            });
                                            if(found == 'true')
                                            {
                                                $(this).show();

                                            }
                                            else
                                            {
                                                $(this).hide();

                                            }
                                        });
                                    }
                                });
                            </script>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                    <!-- ********* -->
                </table>
            </div>

        </div>
    </main>
{% endblock %}