<!DOCTYPE html>
<html lang="en">



<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8"/><!-- /Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> EsprIN | {% block title %}Main Feed {% endblock %}</title>
    <link rel="icon" href="{{ asset('FrontOffice/assets/img/logo/logo-red.svg') }}"/>
    <!-- Fonts -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900') }}" rel="stylesheet">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:400,500') }}" rel="stylesheet">
    <link href="{{ asset('https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto-brands.min.css') }}" rel="stylesheet">

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/core.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/eventCardStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/formsFrontOfficeStyle.css') }}">
</head>

<body>

<!-- Pageloader -->
<div class="pageloader"></div>
<div class="infraloader is-active"></div>
<div class="app-overlay"></div>

<div class="navbar-v2">
    <div class="top-nav">
        <div class="left">
            <div class="brand">
                <a href="" class="navbar-logo">
                    <img class="logo light-image" src="FrontOffice/assets/img/logo/logo_app.svg" width="112" height="28" alt="">
                    <img class="logo dark-image" src="FrontOffice/assets/img/logo/logo-red.svg" width="112" height="28" alt="">
                </a>
            </div>
            <div class="search">
                <div class="navbar-item">
                    <div id="global-search" class="control">
                        <input id="tipue_drop_input" class="input is-rounded" type="text" placeholder="Search" required>
                        <span id="clear-search" class="reset-search">
                                    <i data-feather="x"></i>
                                </span>
                        <span class="search-icon">
                                    <i data-feather="search"></i>
                                </span>

                        <div id="tipue_drop_content" class="tipue-drop-content"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="right">
            <label class="theme-toggle">
                <input type="checkbox">
                <span class="toggler">
                                            <span class="dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-moon"><path
                                                            d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                                            </span>
                                    <span class="light">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line
                                                            x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21"
                                                                                                       x2="12"
                                                                                                       y2="23"></line><line
                                                            x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36"
                                                                                                                 y1="18.36"
                                                                                                                 x2="19.78"
                                                                                                                 y2="19.78"></line><line
                                                            x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12"
                                                                                                       x2="23"
                                                                                                       y2="12"></line><line
                                                            x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line
                                                            x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                                            </span>
                                    </span>
            </label>


            <div id="account-dropdown" class="navbar-item is-account drop-trigger has-caret">
                <div class="user-image">
                    <img src="https://via.placeholder.com/400x400" data-demo-src="FrontOffice/assets/img/avatars/jenna.png" alt="">
                    <span class="indicator"></span>
                </div>

                <div class="nav-drop is-account-dropdown">
                    <div class="inner">

                        <div class="nav-drop-body account-items">


                            <a href="options-settings.html" class="account-item">
                                <div class="media">
                                    <div class="icon-wrap">
                                        <i data-feather="settings"></i>
                                    </div>
                                    <div class="media-content">
                                        <h3>Settings</h3>
                                        <small>Access widget settings.</small>
                                    </div>
                                </div>
                            </a>

                            <a class="account-item" href="{{ path('Login') }}">
                                <div class="media">
                                    <div class="icon-wrap">
                                        <i data-feather="power"></i>
                                    </div>
                                    <div class="media-content">
                                        <h3>Log out</h3>
                                        <small>Log out from your account.</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Search-->
        <div class="mobile-search is-hidden">
            <div class="control">
                <input id="tipue_drop_input_mobile" class="input" placeholder="Search...">
                <div class="form-icon">
                    <i data-feather="search"></i>
                </div>
                <div class="close-icon">
                    <i data-feather="x"></i>
                </div>
                <div id="tipue_drop_content_mobile" class="tipue-drop-content"></div>
            </div>
        </div>
    </div>
    {% block navigation %}
    <div class="sub-nav">
        <div class="sub-nav-tabs">
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active">
                        <a href="{{ path('navbar-v2-feed') }}">Posts</a>
                    </li>
                    <li>
                        <a href="{{ path('navbar-v2-announces') }}">Announces</a>
                    </li>
                    <li>
                        <a href="{{ path('navbar-v2-forums') }}">Forums</a>
                    </li>
                    <li>
                        <a href="{{ path('navbar-v2-events') }}">Events</a>
                    </li>
                    <li>
                        <a href="{{ path('navbar-v2-offres') }}">Offers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main %}

    {% endblock %}
    <!-- Concatenated js plugins and jQuery -->
    <script src="{{ asset('FrontOffice/assets/js/app.js') }}"></script>
    <script src="{{ asset('https://js.stripe.com/v3/') }}"></script>
    <script src="{{ asset('FrontOffice/assets/data/tipuedrop_content.js') }}"></script>

    <!-- Core js -->
    <script src="{{ asset('FrontOffice/assets/js/global.js') }}"></script>

    <!-- Navigation options js -->
    <script src="{{ asset('FrontOffice/assets/js/navbar-v1.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/navbar-v2.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/navbar-mobile.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/navbar-options.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/sidebar-v1.js') }}"></script>

    <!-- Core instance js -->
    <script src="{{ asset('FrontOffice/assets/js/main.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/chat.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/touch.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/tour.js') }}"></script>

    <!-- Components js -->
    <script src="{{ asset('FrontOffice/assets/js/explorer.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/widgets.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/modal-uploader.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/popovers-users.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/popovers-pages.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/lightbox.js') }}"></script>

    <!-- Landing page js -->

    <!-- Signup page js -->

    <!-- Feed pages js -->
    <script src="{{ asset('FrontOffice/assets/js/feed.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/formpopupscript.js') }}"></script>

    <script src="{{ asset('FrontOffice/assets/js/webcam.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/compose.js') }}"></script>
    <script src="{{ asset('FrontOffice/assets/js/autocompletes.js') }}"></script>

    <!-- profile js -->

    <!-- stories js -->

    <!-- friends js -->

    <!-- questions js -->

    <!-- video js -->

    <!-- events js -->

    <!-- news js -->

    <!-- shop js -->

    <!-- inbox js -->

    <!-- settings js -->

    <!-- map page js -->

    <!-- elements page js -->
</body>


</html>