{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cinuser</th>
                <th>Email</th>
                <th>Passwd</th>
                <th>Createdat</th>
                <th>Imgurl</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Domaine</th>
                <th>Departement</th>
                <th>Typeclub</th>
                <th>Class</th>
                <th>Localisation</th>
                <th>Entreprisename</th>
                <th>Role</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.cinuser }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.passwd }}</td>
                <td>{{ user.createdat ? user.createdat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.imgurl }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.domaine }}</td>
                <td>{{ user.departement }}</td>
                <td>{{ user.typeclub }}</td>
                <td>{{ user.class }}</td>
                <td>{{ user.localisation }}</td>
                <td>{{ user.entreprisename }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.state }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'cinuser': user.cinuser}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'cinuser': user.cinuser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
